body {
  margin: 0;
  padding: 0;
}

.licenses {
  background-color: black;
  color: white;

  width: 1280px;
  height: 720px;
  margin: 0;
  padding: 0;
  border: 0;

  column-count: 3;
  column-fill: auto;
  column-gap: 0;
}

.licenses h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.licenses pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 8px;
}

.licenses hr {
  margin-right: 2em;
}

div.licenses pre {
  white-space: pre-wrap;
}
